body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul, ol, li, dl, dt, dd{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;margin:0;padding:0;}
legend{color:#000;padding:0;}
a img, iframe{border: none;}
html{font-family:Helvetica, Arial, sans-serif;}
html[lang="ja-JP"], html[lang="ja-JP"] input, html[lang="ja-JP"] textarea, html[lang="ja-JP"] select{font-family:"Hiragino Kaku Gothic Pro", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", Meiryo, "ãƒ¡ã‚¤ãƒªã‚ª", "MS PGothic", "MS Pã‚´ã‚·ãƒƒã‚¯", Helvetica, Arial, sans-serif;}
body{font-size:.75em;line-height:1.250em;text-align:left;}
h2, h3, h4, h5, h6{font-family:Arial, sans-serif;font-weight:bold;}
h1{font-size:2.083em;font-weight:normal;line-height:1.8em;}
h2{font-size:1.333em;line-height:1.4em;}
h3{color:#2F2F2F;font-size:1.167em;line-height:1.3em;}
h4{color:#404040;font-size:1em;line-height:1.3em;}
h5{color:#505050;font-size:0.917em;line-height:1.0em;}
h6{color:#505050;font-size:0.833em;line-height:.8em;}
p{line-height:1.4em;margin-bottom:1em;}
table{border-collapse:separate;border-spacing:0.3em;}
hr{margin:10px 0px;}
strong{font-weight: bolder;}
caption{color:#404040;font-size:1em;font-weight:bold;line-height:1.3em;}
blockquote{margin:10px 30px;}
a:visited{color:#3C0D68;}
input[type="text"], input[type="password"]{height:18px;}
input, textarea, select{border:solid 1px #B1B1B1;font-family:Helvetica, Arial, sans-serif;padding:2px;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus{border-color:#AAA;background-color:#F8F8F8;}
input[type="submit"], button{background:#7FBB00;border:1px solid #304764;color:#FFF;cursor:pointer;font:bold 12px Helvetica,Arial,sans-serif;line-height:normal;margin-right:6px;padding:6px 8px;text-decoration:none;text-shadow:2px 2px 2px rgba(0,0,0,0.25);*width:auto;*overflow:visible;}
input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus{background-position: 0px -40px;border-color:#46494D;cursor:pointer;}
input[type="submit"][disabled], button[disabled]{background-color:#304764;background-position: 0px -40px;border-color:#333;color:#DDD;}
#rn_Container{background: none repeat scroll 0 0 #FFFFFF;height: 100%;margin: 0 auto;overflow: visible;padding-left: 15px;padding-right: 15px;text-align: left;width: 930px;}
#rn_Container_blank{background: none repeat scroll 0 0 #FFFFFF;height: 100%;margin: 0 auto;overflow: visible;padding-left: 15px;padding-right: 15px;text-align: left;width: 600px;}
#outer_container{width:100%;background: url("../themes/standard/images/visitorbg-short.gif") repeat-x scroll 0 0 #DDDDDD;}
#rn_Header{color:#FFF;height:72px;min-height:72px;overflow:visible;padding:0 10px;}
#rn_Header a{color:#FFF;}
#rn_Logo{cursor:pointer;float:left;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;height:70px;letter-spacing:-0.8px;margin-top:4px;position:relative;width:32%;}
#rn_Logo a{bottom:0;color:#FFF;cursor:pointer;font-size:2.083em;font-weight:normal;left:0;line-height:1em;text-decoration:none;}
#rn_Logo a span.rn_LogoTitle{cursor:pointer;top:20px;position:relative;}
#rn_Logo a span.rn_LogoTitleMinor{color:#DEDEDE;}
#rn_Logo a img{display:block;}
#rn_LoginStatus{font-size:0.917em;text-align:right;}
#rn_LoginStatus a{font-weight:bold;text-decoration:none;}
#rn_Navigation{background:transparent none repeat scroll center top;height:31px;_height:28px;padding: 21px 10px 0;}
#rn_NavigationBar{float:left;height:14px;}
#rn_NavigationBar ul li{float:left;}
#rn_Footer, #rn_Body{background:#FFF;border-right:1px solid #DDD;border-left:1px solid #DDD;border-top:1px solid #DDD;overflow:hidden;padding:0 0px 20px 10px;text-align:left;width:99%;}
#rn_MainColumn{background:#FFF;float:left;margin-right:8px;min-height:650px;height:auto !important;height:650px;overflow:visible;padding:0px 0px 10px 6px;width:74%;}
#rn_MainColumn_blank{background:#FFF;float:left;margin-right:8px;min-height:250px;height:auto !important;height:650px;overflow:visible;padding:0px 0px 10px 6px;width:74%;}
#rn_SideBar{background:#F7F7F7;border-left:1px solid #DDD;border-bottom:1px solid #DDD;float: right;height: 881px;width: 23%;}
#rn_Footer{border-bottom:1px solid #E2E2E2;}
#rn_RightNowCredit{border-top:1px solid #DDD;clear:both;padding:10px 0px 10px 0px;text-align:right;margin:auto 20px;}
body, fieldset legend{color:#000;}
a:link{color:#0033CC;}
#rn_SideBar .rn_Padding{overflow:auto;padding: 10px;}
.rn_HelpResources{margin:0 4px 10px 4px;}
.rn_HelpResources .rn_Questions, .rn_HelpResources .rn_Community, .rn_HelpResources .rn_Contact, .rn_HelpResources .rn_Chat, .rn_HelpResources .rn_Feedback{margin-top:10px;}
.rn_HelpResources a{color:#464646;display:block;font-size:1.25em;font-weight:bold;margin:0px;min-height:22px;height:auto !important;height:22px;padding:10px 0 0 0px;text-decoration:none;}
.rn_HelpResources a:hover{text-decoration:underline;}
.rn_HelpResources span{display:block;margin:0 0 0 0px;}
.rn_HelpResources .rn_Questions a{background-position: 0px -4px;}
.rn_HelpResources .rn_Contact a{background-position: 0px -48px;}
.rn_HelpResources .rn_Chat a{background-position: 0px -96px;}
.rn_HelpResources .rn_Feedback a{background-position: 0px -140px;}
.rn_HelpResources .rn_Community a{background-position: 0px -184px;}
#rn_SearchControls{background:#f5f5f5;*background:#f5f5f5;border:1px solid #ddd;clear:left;float:left;overflow:visible;padding:8px 0 8px 12px;position:relative;width:97.4%;}
#rn_SearchControls form{padding:0 0 6px;_margin-bottom:20px;}
#rn_SearchControls form input[type="submit"], #rn_SearchControls form input[type="image"]{margin:1.3em 0 0 1.3em;padding:.4em 1em;}
#rn_SearchControls input{_margin:1.3em 0 0 1.3em;_padding:.4em 1em;}
#rn_SearchControls .rn_SearchInput{float:left;position:relative;width:50%;}
#rn_SearchControls .rn_SearchInput a{color:#25383C;display:block;float:right;font-size:.917em;margin-right:-8px;*margin-right:0;*position:absolute;*right:-8px;_right:0px;text-decoration: none;}
#rn_SearchControls .rn_SearchInput label{bottom:0px;position:absolute;*bottom:-50px !important;*position:relative !important;}
#rn_SearchControls .rn_SearchInput input{font-weight:bold;height:1.3em;margin-bottom:20px;_margin: 0;padding:4px 4px 3px;width:100%;}
#rn_PageTitle{border-bottom:1px solid #E2E2E0;color:#25383C;overflow:hidden;padding:16px 0 0;}
#rn_PageTitle.rn_Home, #rn_PageTitle.rn_QuestionList, #rn_PageTitle.rn_AnswerList{border-bottom:0;overflow:visible;}
#rn_PageTitle.rn_Home{margin-bottom:10px;}
#rn_PageTitle h1, #rn_PageTitle h2, #rn_PageTitle h3, #rn_PageTitle h4, #rn_PageTitle h5, #rn_PageTitle h6{clear:left;word-wrap:break-word;}
#rn_PageTitle p{clear:both;}
#rn_PageContent{clear:both;overflow:visible;}
#rn_PageContent form h2, .rn_HeadingBar{background:#F9F9F9;border:1px solid #CCC;clear:both;color:#414142;letter-spacing:-0.03em;padding:4px;margin:20px 0 10px;}
form legend{font-size:0em;visibility:hidden;}
form fieldset{padding-left:8px;}
form button{margin-top:20px;}
form .rn_Column{margin-bottom:10px;}
.rn_HintBox{background-color:#F2F2F2;border:1px solid #DBDBDB;color:#222;opacity:.7;padding:4px 16px 2px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-topright:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;}
.rn_Required, .rn_ErrorLabel{color:#C10000;}
.rn_ErrorField{background-color:#FEFDA0 !important;}
.rn_MessageBox{background-color:#FFFFE0;border:1px solid #808080;color:#990000;margin:10px 0;padding:6px;}
.rn_ErrorMessage{background:#FFFFE0 url(../themes/standard/images/layout/important.png) no-repeat;padding:8px 6px 8px 40px !important;}
.rn_ErrorMessage a{color:#990000;}
.rn_InfoMessage{background:#FFFFE0 url(../themes/standard/images/layout/info.png) no-repeat;padding:6px 6px 4px 40px !important;}
.rn_Dialog{overflow:visible;}
.rn_Dialog ol, .rn_Dialog ul{padding:0.4em 0 0 1.8em;}
.rn_Dialog ol li{list-style:decimal outside none;}
.rn_Dialog ul li{list-style:disc outside none;}
.rn_Module{background:#F7F7F7;border:1px solid #DDD;clear:both;margin-bottom: 12px;overflow:hidden;padding-bottom:8px;}
.rn_Module h3, .rn_Module h2{background:#F5F5F5;*background:#F5F5F5;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;font-weight:normal;margin-bottom:8px;padding:4px;}
.rn_FloatRight{float:right;}
.rn_FloatLeft{float:left;}
.rn_Padding{}
.rn_ClearBoth{clear:both;}
.rn_Highlight{font-style:normal;font-weight:bold;text-decoration:inherit;}
.rn_ColumnContainer{width:100%;}
.rn_Column{width:48%;}
.rn_LeftColumn{float: left;padding:0 4px 0 0;}
.rn_RightColumn{float:right;padding: 0 0 0 4px;}
.rn_LargeText{font-size:1.333em;font-weight:bold;line-height:1.4em;}
#rn_Summary{padding: 7px 0 0 0;line-height:1em;letter-spacing:-.01em;}
#rn_AnswerInfo{color:#888;margin:6px 0 20px;}
#rn_AnswerInfo div{display:inline;}
#rn_AnswerText{clear:both;line-height:1.4em;padding:5px 0 15px;}
#rn_FileAttach{padding-bottom:1em;}
.rn_QuestionDetail ol, .rn_QuestionDetail ul, .rn_AnswerDetail ol, .rn_AnswerDetail ul{padding-left:2em;clear: both;}
.rn_QuestionDetail > ol, .rn_QuestionDetail > ul, .rn_AnswerDetail > ol, .rn_AnswerDetail > ul{margin-bottom:1em;}
.rn_QuestionDetail li, .rn_AnswerDetail li{line-height:1.4em;margin:4px 0;}
.rn_QuestionDetail ul li, .rn_AnswerDetail ul li{list-style: disc;}
.rn_QuestionDetail li ul li, .rn_AnswerDetail li ul li{list-style: circle;}
.rn_QuestionDetail li li ul li, .rn_AnswerDetail li li ul li{list-style: square;}
.rn_QuestionDetail ol li, .rn_QuestionDetail li ol li, .rn_QuestionDetail li li ol li, .rn_AnswerDetail ol li, .rn_AnswerDetail li ol li, .rn_AnswerDetail li li ol li{list-style: decimal;}
#rn_UpdateQuestion textarea{width:98%;}
#rn_QuestionThread{margin:4px;}
#rn_AdditionalInfo, #rn_DetailTools{background:#EEE url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVQIHWP4DwABAQEANl9ngAAAAABJRU5ErkJggg==) repeat-x scroll 0 0;*background:#EEE;border:1px solid #BBB;}
#rn_AdditionalInfo{margin:1em;overflow:hidden;padding:12px;width:560px;}
#rn_DetailTools{line-height:1em;margin-top:2em;padding:8px 0;text-align: right;}
#rn_PageContent.rn_Home{overflow: hidden;}
#rn_PageContent.rn_Home .rn_Module ul{margin:12px;overflow:hidden;}
#rn_PageContent.rn_Home .rn_Module ul li{float:left;margin:0px;padding:4px;width:48%;}
#rn_PageContent.rn_Home .rn_Module ul li img{display:none;}
#rn_PageContent.rn_Home .rn_Module ul li a{float:left;font-size:.8em;margin:4px;}
#rn_PageContent.rn_Home .rn_AnswersLink{display:inline-block;font-size:120%;font-weight:bold;margin:10px 0 10px 16px;}
.rn_Overview{padding:12px 10px 2px;}
.rn_Overview h2{background-color:#F9F9F9;border:1px solid #DDD;margin-top:10px;}
.rn_Overview h2 a, .rn_Overview h2 strong{background:url(../themes/standard/images/layout/accountOverview.png) no-repeat;color:#505050;display:block;height:26px;margin:4px;outline:none;padding:8px 0 0 40px;text-decoration:none;}
.rn_Overview a:focus, .rn_Overview a:hover{text-decoration:underline;}
.rn_Overview a.rn_Questions{background-position: 0px 2px;}
.rn_Overview a.rn_Profile{background-position: 2px -38px;}
.rn_Overview a.rn_Notifs{background-position: 0px -74px;}
.rn_Overview strong.rn_Contracts{background-position: 0px -114px;}
.rn_Overview div.rn_Questions, .rn_Overview div.rn_Notifs, .rn_Overview div.rn_Profile, .rn_Overview div.rn_Contracts{margin:10px 0px 40px 40px;}
.rn_QuestionList caption{font-size:1.333em;font-weight:bold;line-height:1.4em;}
.rn_Account.rn_LoginForm h2{color:#404040;font-size:1em;line-height:1.3em;}
.rn_Account.rn_LoginForm .rn_Column.rn_RightColumn{width:47%;position: relative;left:20px;}
.rn_Account.rn_LoginForm .rn_Column.rn_LeftColumn{border-right:1px solid #CCC;min-height: 350px;*position:relative;}
.rn_Account.rn_LoginForm .rn_MiddleBuffer{background:#FFF;bottom:-80px;left:-9px;padding:4px 0;position:relative;}
.rn_Account.rn_LoginForm .rn_ThirdPartyLogin{*position: relative;}
.rn_CreateAccount .rn_ThirdPartyLogin{width:550px;min-height:115px;padding-left: 5px;}
#rn_SkipNav a{left:0px;height:1px;overflow:hidden;position:absolute;top:-500px;width:1px;}
#rn_SkipNav a:active, #rn_SkipNav a:focus{background-color:#FFF;height:auto;left:auto;top:auto;width:auto;}
@media print{body{font-size:1em;}
#rn_DetailTools, #rn_Header, #rn_Navigation, #rn_SideBar, #rn_Footer{display:none;}
#rn_Footer, #rn_Body, #rn_PageContent, #rn_PageTitle, #rn_AdditionalInfo{overflow:visible;}
#rn_Body{border: 0;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
}
#rn_ChatContainer{height:100%;margin:0px auto;overflow:hidden;text-align:left;}
#rn_ChatDialogContainer{background-color:#EBEFF5;border:1px solid #555;overflow-x:hidden;overflow-y:auto;position:relative;height:450px;}
#rn_ChatDialogHeaderContainer{height:30px;overflow:visible;padding:4px;vertical-align:middle;}
#rn_ChatDialogTitle{margin-top: 8px;}
#rn_ChatDialogHeaderButtonContainer button{background: none;border-color: transparent;color: #555;margin-right: .25em;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;padding: 2px;}
#rn_ChatDialogHeaderButtonContainer button:hover, #rn_ChatDialogHeaderButtonContainer button:focus{background-color: #F8F8F8;border-color: #CCC #555 #555 #CCC;color: #000;}
#rn_InChatButtonContainer{overflow: visible;}
#rn_PreChatButtonContainer{overflow: visible;}
#rn_ChatQueueSearchContainer{bottom: 0px;position: absolute;width: 100%;}
#rn_ChatQueueSearchContainer div.rn_ScreenReaderOnly{display: none;}
#rn_ChatFooter{padding: 10px;}
#rn_ChatLogo{height:100px;position: absolute;right: 10px;top: 10px;width:135px;}
@media print{#rn_ChatDialogHeaderContainer, #rn_InChatButtonContainer, #rn_PreChatButtonContainer, #rn_ChatQueueSearchContainer, #rn_ChatLogo{display:none;}
#rn_ChatContainer{border:0;overflow: visible;height: auto;}
#rn_ChatDialogContainer{overflow: visible;height: auto;}
}
#support_center{clear: left;color: gray;float: left;font-size: 26px;margin-left: 68px;}
#call_us{float: right;font-size: 21px;font-weight: bold;margin-top: 49px;}
.clear{clear: both;height: 0;}
.smaller{font-size: smaller;}
img{border: medium none;}
h1{font-family: Verdana,Helvetica,sans-serif;font-size: 24px;}
h2{}
h3{color: #669900;font-size: 16px;}
h4{border-bottom: 1px dotted #AAAAAA;font-size: 14px;margin: 0 0 8px;padding-bottom: 7px;width: 100%;}
#header{background: none repeat scroll 0 0 #7FBB00;height: 125px;width: 100%;}
#header-top{height: 85px;margin: 0 auto;width: 970px;}
#logo{float: left;padding: 15px 0 0;}
#tagline{float: left;padding: 43px 0 0;}
#header-top-right{float: right;font-family: Verdana,Helvetica,sans-serif;font-size: 14px;font-weight: bold;padding: 15px 5px 0 0;text-align: right;}
#header-top-right a{color: black;text-decoration: underline;}
#header-top-right a:hover{color: white;text-decoration: underline;}
a#signin-btn{background: url("../themes/standard/images/topright-gray-btn.png") no-repeat scroll 0 0 transparent;color: #000000;display: block;float: right;font-family: Verdana,Helvetica,sans-serif;font-size: 10px;font-weight: bold;padding: 7px 0 10px;text-align: center;text-decoration: none;width: 70px;}
a#signin-btn:hover{background: url("../themes/standard/images/topright-gray-btn.png") no-repeat scroll -70px 0 transparent;color: black;text-decoration: none;}
a#joinnow-btn{background: url("../themes/standard/images/topright-orange-btn.png") no-repeat scroll 0 0 transparent;color: #000000;display: block;float: right;font-family: Verdana,Helvetica,sans-serif;font-size: 10px;font-weight: bold;margin-right: 5px;padding: 7px 0 10px;text-align: center;text-decoration: none;width: 70px;}
a#joinnow-btn:hover{background: url("../themes/standard/images/topright-orange-btn.png") no-repeat scroll -70px 0 transparent;color: black;text-decoration: none;}
a#BC-btn:hover{background: url("../themes/standard/images/topright-gray-btn.png") no-repeat scroll -70px 0 transparent;color: black;text-decoration: none;}
a#BC-btn{background: url("http://content.angieslist.com/cms/images/topright-gray-btn.png") no-repeat scroll 0 0 transparent;color: black;display: block;float: right;font-family: Verdana,Helvetica,sans-serif;font-size: 10px;font-weight: bold;line-height: 90%;margin-left: 5px;padding: 6px 0 10px;text-align: center;text-decoration: none;width: 70px;}
#coco-link{clear: both;float: right;font-size: 11px;font-weight: normal;margin: 7px 5px 0 0;white-space: nowrap;}
#main-bg{background: url("../themes/standard/images/visitorbg-short.gif") repeat-x scroll 0 0 #DDDDDD;height: auto;width: 100%;}
#main-wrapper{-moz-border-bottom-colors: none;-moz-border-image: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: none repeat scroll 0 0 #FFFFFF;border-color: -moz-use-text-color #AAAAAA #AAAAAA;border-right: 1px solid #AAAAAA;border-style: none solid solid;border-width: medium 1px 1px;height: auto;margin: 0 auto;width: 960px;}
#footer-wrapper{background: url("../themes/standard/images/footer-bg.png") repeat-x scroll 100% top #7FBB00;height: auto;margin: 0;width: 100%;}
#footer{background: none repeat scroll 0 0 transparent;border-top: medium none;margin: 0 auto;padding: 25px 0;width: 961px;}
#footer ul{float: left;margin: 0 50px 15px 30px;padding: 0;}
#footer li{font-size: 10px;list-style: none outside none;margin: 5px 0;padding: 0;}
#footer a{color: black;text-decoration: underline;}
#footer a:hover{color: white;text-decoration: underline;}
.social-icons{display: block;float: left;margin-right: 7px;}
.copyright{clear: both;color: black;font-size: 10px;margin: 0;text-align:center;}
#home-top{margin: 0;padding: 0;width: 960px;}
#home-top-left{float: left;margin: 0;padding: 40px 0 0 30px;width: 430px;}
#home-top-left h1{margin: 10px 0;}
#home-top-left h2{font-size: 14px;font-weight: normal;}
h1#home-top-left-c{margin-top: 0;}
#home-top-left ul{font-size: 12px;line-height: 150%;margin: 0 0 20px;padding: 0 0 0 25px;}
#home-top-left li{list-style-image: url("http://content.angieslist.com/lp/images/checkmark.gif");margin: 0;padding: 3px 0 0 3px;}
#home-top-left .list-hdl{list-style: none outside none;margin: 25px 0 5px;}
#home-join-btn{float: right;margin-top: 50px;}
#home-join-btn-c{margin-top: 5px;}
#home-top-right{border: 1px solid #DDDDDD;float: right;margin: 15px 15px 15px 0;padding: 5px;}
#slideshow{height: 370px;position: relative;width: 440px;}
#slideshow img{left: 0;opacity: 0;position: absolute;top: 0;z-index: 8;}
#slideshow img.active{opacity: 1;z-index: 10;}
#slideshow img.last-active{z-index: 9;}
#home-mid{border-top: 1px solid #AAAAAA;padding: 20px 30px 0;width: 900px;}
#home-mid h3{margin-top: 0;}
#home-press{float: left;line-height: 125%;width: 370px;}
#home-press-c{float: left;}
#presstable{text-align: left;}
#presstable img{border: medium none;}
#home-articles{float: left;line-height: 150%;margin-left: 25px;text-align: left;width: 300px;}
#home-testimonials{float: left;line-height: 125%;margin-left: 25px;text-align: left;width: 370px;}
#home-testimonials em{color: gray;}
#home-quicktour{float: left;margin-left: 25px;width: 180px;}
#home-quicktour-c{float: left;margin-right: 25px;width: 180px;}
#home-btm{padding: 0 15px 15px;width: 930px;}
#home-services-table{width: 100%;}
#home-services-table h3{font-size: 18px;margin: 0;}
#home-services-table h4{border-bottom: 1px dotted #AAAAAA;margin: 0 0 8px;padding-bottom: 7px;width: 100%;}
#home-services-table td{background-color: #F5F5F5;border: 1px solid #DDDDDD;width: 20%;}
#home-services-table .service-table-hdl{background: none repeat scroll 0 0 #FFFFFF;border: medium none;padding: 0;}
#home-services-table p{line-height: 175%;margin: 0;}
a#quicktour-icon{background: url("../themes/standard/images/quicktour-icon.jpg") no-repeat scroll 0 0 transparent;display: block;height: 130px;width: 175px;}
a#quicktour-icon:hover{background-position: -175px 0;}
#quicktour-top{background: none repeat scroll 0 0 #444444;padding: 0;width: 960px;}
#quicktour-topleft{color: white;float: left;padding: 30px 50px;width: 340px;}
#quicktour-topleft h2{font-size: 14px;font-weight: normal;}
#quicktour-video{border: 10px solid black;float: right;height: 270px;width: 481px;}
#quicktour-btm{padding: 0 0 15px;width: 960px;}
#quicktour-press-hdl{float: left;height: 70px;padding: 15px 0 0 30px;width: 200px;}
#quicktour-clicktext{padding-top: 8px;}
#quicktour-press-text{float: left;height: 70px;padding: 15px 30px 0;width: 670px;}
#quicktour-press{clear: both;margin: auto;padding: 0;vertical-align: middle;width: 800px;}
#quicktour-press h3{display: block;float: left;margin: 35px 35px 0 0;}
#quicktour-press img{border-width: 0;float: left;}
.press-text{display: none;font-size: 14px;margin: 10px auto 0;text-align: center;}
.press-text em{color: gray;font-size: 12px;}
#howitworks-top{background: none repeat scroll right top #444444;color: #FFFFFF;height: 261px;margin: auto;width: 960px;}
#howitworks-topleft{float: left;padding: 35px 15px 0 25px;width: 250px;}
#howitworks-topleft h2{font-size: 14px;font-weight: normal;}
#howitworks-topright{float: right;padding: 10px 10px 0 0;width: 650px;}
#howitworks-divider{background: url("../themes/standard/images/howitworks-divider.gif") no-repeat scroll 0 0 transparent;height: 30px;width: 960px;}
#howitworks-btm{padding: 0 30px 15px;width: 900px;}
#howitworks-btm-left{float: left;width: 475px;}
#howitworks-btm-left h3{margin: 20px 0 10px;}
#howitworks-btm-left ul{font-size: 14px;list-style-image: url("http://content.angieslist.com/lp/images/checkmark.gif");margin: 0 0 0 25px;padding-left: 9px;}
#howitworks-btm-left li{padding: 3px 0 0 3px;}
.howitworks-sidebar{background: none repeat scroll 0 0 #EEEEEE;border-radius: 7px 7px 7px 7px;float: right;margin-bottom: 15px;padding: 25px;width: 350px;}
.howitworks-sidebar h4{border-bottom: 1px dotted #AAAAAA;margin: 0 0 8px;padding-bottom: 7px;width: 100%;}
.howitworks-sidebar img{float: right;}
.howitworks-sidebar p{margin: 10px 0 0;}
.howitworks-sidebar ul{margin-left: 0;padding-left: 0;}
.howitworks-sidebar li{margin: 5px 0 0 10px;}
#howitworks-join-btm{width: 700px;}
#howitworks-join-btm p{font-size: 14px;font-weight: bold;}
#services-fulllist{font-size: 12px;line-height: 150%;}
#services-fulllist strong{font-size: 14px;}
#services-fulllist td{vertical-align: top;}
#faq-top{padding: 15px 30px;width: 900px;}
#faq-top img{float: right;margin-top: 15px;}
#faq-btm{padding: 15px 30px;width: 900px;}
#FAQ-questions-wrapper{font-size: 12px;line-height: 200%;margin: 0;}
#FAQ-questions-wrapper img{float: right;}
#FAQ-answer-wrapper{font-size: 12px;}
#FAQ-answer-wrapper dt{font-size: 14px;margin-bottom: 10px;}
#FAQ-answer-wrapper hr{background: none repeat scroll 0 0 #CCCCCC;border: medium none;color: #CCCCCC;height: 1px;}
#chapter-top{padding: 15px 30px;width: 900px;}
#chapter-top img{float: right;margin-top: 15px;}
#chapter-btm{padding: 15px 30px;text-align: center;width: 900px;}
#inthepress-top{padding: 15px 30px;vertical-align: middle;width: 900px;}
#inthepress-top img{float: right;margin-top: 15px;}
#inthepress-btm{padding: 0 30px 15px;width: 900px;}
.section-title{color: white;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 13px;font-weight: bold;margin: 0;padding: 7px 0 0 7px;}
.testimonial{margin: 0 5em;}
.testimonialspacer{height: 1em;}
.testimonialmembercomment{margin: 1em 0;}
.testimonialmembername{font-style: italic;text-transform: capitalize;}
.testimonialmemberlocation{float: left;font-weight: bold;text-transform: capitalize;width: 30%;}
.testimonialsmedialink{float: right;text-align: right;width: 69%;}
.testimonialmemberpicture{float: left;margin-right: 1em;}
.testimonialotherlocation{font-size: small;font-weight: bold;}
.testimonialmemberlocationShort{float: left;font-weight: bold;text-transform: capitalize;width: 75%;}
#press-column{float: left;text-align: center;width: 550px;}
#press-header{height: 30px;margin: 0;width: 435px;}
#praise-column{float: right;margin: 0;vertical-align: top;}
#praise-header{background: none repeat scroll 0 0 #7FBB00;height: 30px;margin: 0;width: 320px;}
#praise-main{background: none repeat scroll 0 0 #F5F5F5;border: 1px solid #D5D5D5;padding: 20px 19px;width: 280px;}
#praise-main h4{margin-bottom: 0;}
#praise-main p{color: #333333;font-size: 11px;line-height: 15px;margin: 20px 0 0;}
#praise-btm{background-image: url("http://www.angieslist.com/angieslist/images/praise-btm.gif");height: 15px;margin: 0;width: 300px;}
.quote-name{font-style: italic;padding: 7px 0 0;}
#contactus-top{padding: 15px 30px;width: 900px;}
#contactus-topleft{float: left;width: 500px;}
#contactus-btmleft{float: left;width: 500px;}
#contactus-topright{float: right;}
#sub-main-contactus{clear: both;height: 450px;margin: auto;padding: 25px 25px 0;width: 901px;}
#sub-main-contactus h1{font-family: verdana,sans-serif;font-size: 24px;margin: 0;}
.servicetable{margin: 0 auto;width: 100%;}
.servicetable td{vertical-align: top;width: 33%;}
.servicetable th{padding-top: 20px;text-align: left;}
div.eW{overflow: hidden;padding-left: 25px;}
div.eW.eB{font-size: 0;height: 1px;}
div.eW div.eH5{float: left;margin-bottom: -9000px;padding: 0 20px 9000px 0;width: 178px;}
div.eW div.eH3{float: left;margin-bottom: -9000px;padding: 0 15px 9000px 0;width: 305px;}
div.eH5 br{margin-bottom: 15px;}
#gamleader{margin: 0 auto;text-align: center;}
.breadcrumbs{font-size: 8pt;padding: 10px;}
.pgTitle{padding-left: 25px;}
#main-content{margin: 0 25px;}
.marketing{margin: 0 auto;text-align: center;}
.marketing img{padding-bottom: 25px;padding-right: 40px;padding-top: 20px;}
#company_claim{float: right;font-size: 8pt;margin: 10px 17px 5px;padding-left: 450px;text-align: right;vertical-align: middle;}
#company_claim img{float: left;margin: 0 5px 0 0;}
#popularTitle h2{font-size: 12pt;padding-top: 12pt;text-align: left;}
#profile-quicktour{padding: 40px 13px;}
#profile-quicktour-header{background: none repeat scroll 0 0 #FDB913;color: #FFFFFF;font-family: verdana,sans-serif;font-weight: 700;padding: 5px 10px;}
#profile-quicktour-wrapper{border-left: 1px solid gray;float: left;height: 315px;width: 280px;}
#sign-in{color: #000000;font-family: Arial,sans-serif;font-size: 10px;margin: 5px 0 2px;text-align: right;width: 755px;}
#sign-in a{color: blue;text-decoration: none;}
#sign-in a:hover, .profile-col-right a:hover{text-decoration: underline;}
#sp-address, #sp-grades{padding: 15px;}
#sp-address-header{font-family: verdana,sans-serif;font-weight: 700;padding: 5px 15px;}
#sp-address-wrapper{border-right: 1px solid gray;float: left;height: 295px;width: 272px;}
#sp-grades-header{background: none repeat scroll 0 0 #26BCD6;color: #FFFFFF;font-family: verdana,sans-serif;font-weight: 700;padding: 5px 15px;}
#sp-grades-wrapper{float: left;height: 100%;width: 215px;}
#sp-profile-main{background: none repeat scroll 0 0 #F8F4EB;border: 1px solid gray;clear: both;margin: 17px;overflow: hidden;width: 770px;}
.addthis_toolbox .hover_effect{border: 1px solid #EEEEEE;border-radius: 5px 5px 5px 5px;margin: 3px 15px;padding: 10px 0 6px 10px;width: 450px;}
.addthis_toolbox .hover_effect a{border: 2px solid #FFFFFF;color: #333333;padding: 2px 2px 2px 16px;position: relative;text-decoration: none;}
.addthis_toolbox .hover_effect a:hover{background: none repeat scroll 0 0 #B4D3F8;border: 2px solid #105CB6;border-radius: 4px 4px 4px 4px;color: #105CB6;text-decoration: none;}
.addthis_toolbox .hover_effect div{float: left;}
.addthis_toolbox .hover_effect span{height: 16px;left: 1px;position: absolute;top: 2px;width: 16px;}
.article{font-family: Arial,Sans-Serif;font-size: 9pt;}
.article a{color: #5190CD;}
.article h2{font-family: Verdana,Sans-Serif;font-size: 10pt;font-weight: 700;margin: 0;}
.company-name{clear: both;color: #26BCD6;font-family: Verdana,Arial,sans-serif;font-size: 22px;font-weight: 700;margin: 0 15px;text-align: left;}
.company-name-address{color: #333333;font-family: Verdana,Arial,sans-serif;font-size: 12px;font-weight: 400;line-height: 150%;text-align: left;}
.mktbox{background: none repeat scroll 0 0 #EEEEEE;border: 2px solid #FDB913;margin: 10px 5px 5px;padding: 15px;}
.boldbullet{color: red;font-weight: 700;}
.profile-col-left{background: none repeat scroll 0 0 #FFFFFF;display: block;float: left;font-family: Arial,Sans-Serif;font-size: 9pt;margin: 0 0 17px 17px;padding: 0;width: 470px;}
.profile-col-left h2{font-family: verdana,sans-serif;font-size: 14px;margin: 0;}
.profile-col-left h4{font-family: verdana,sans-serif;font-size: 12px;margin: 0;}
.profile-col-left li{margin: 15px;}
.profile-col-left ul{font-size: 13px;list-style-image: url("http://content.angieslist.com/lp/images/checkmark.png");margin: 0;padding-left: 9px;}
.profile-col-right{background: none repeat scroll 0 0 #FFFFFF;display: block;float: right;font-size: 10pt;margin: 0 17px 17px 0;padding: 0;width: 200px;}
.profile-col-right a{color: #5190CD;font-weight: 700;text-decoration: none;}
.profile-col-right h3{font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 12px;font-weight: 700;margin: 0 0 5px;}
.profile-col-right li{line-height: 115%;margin: 0 0 10px;padding: 0;}
.profile-wrap{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #333333;width: 800px;}
.spinfobox .heading{font-weight: 700;}
.spinfobox{margin-top: 15px;}
.linktable{width: 100%;}
.linktable td{width: 33%;}
#nav-wrapper{height: 40px;margin: 0 auto;width: 960px;}
#nav{background: url("../themes/standard/images/nav-bg.png") repeat-x scroll 0 -40px transparent;float: left;height: 40px;margin: 0;width: 930px;}
#nav-corner-left{background: url("../themes/standard/images/nav-corner-left.png") repeat scroll 0 0 transparent;float: left;height: 40px;margin: 0 auto;width: 15px;}
#nav-corner-right{background: url("../themes/standard/images/nav-corner-right.png") repeat scroll 0 0 transparent;float: right;height: 40px;margin: 0 auto;width: 15px;}
#nav ul{float: left;height: 40px;margin: 0;padding: 0;white-space: nowrap;}
#nav li{display: inline;float: left;margin: 0;padding: 0;}
#nav li a{border-right: 1px solid #EDBB00;display: block;float: left;font-family: Verdana,Helvetica,sans-serif;font-size: 14px;font-weight: normal;height: 28px;padding: 12px 17px 0;}
#nav li a, #nav a:visited{color: #000000;text-decoration: none;}
#nav li a:hover, #nav li .activetab{background: url("../themes/standard/images/nav-bg.png") repeat-x scroll 0 0 transparent;color: #000000;text-decoration: none;}
#nav-phone{float: right;}
.left-7030{float: left;overflow: hidden;padding: 10px;width: 65%;}
.right-7030{float: right;overflow: hidden;width: 29%;}
.hiddenDiv{display: none;}
#ctl00_ContentPlaceHolderMainContent_ContactInformationVisitor_txtEmailContent, ContentPlaceHolderMainContent_ContactInformationVisitor_txtEmailContent{width: 96%;}
#BambooCricketB{float: right;margin-right: -20px;margin-top: -237px;width: 450px;}
.GiftRedeemAlert{border: 1px solid #000000;font-weight: bold;margin-top: 25px;padding: 10px;width: 97%;}
* html #content{height: 400px;}
#footer-main{background: url("../themes/standard/images/footer-bg.png") repeat-x scroll 0 0 #7FBB00;clear: both;margin-top: 15px;margin-left: 174px;}
#footer{height: 170px;margin: auto;width: 100%}
#footer-shadow-left{float: left;}
#footer-center{background: url("../themes/standard/images/footer-bg.png") repeat-x scroll 0 0 transparent;float: left;width: 950px;margin-left: 189px;}
#footer-content{height: 145px;}
.footer-links{border-right: 1px dotted #FFFFFF;float: left;height: 100px;margin-top: 10px;padding: 15px 0 0;text-align: left;width: 380px;}
.footer-column1{display: inline;float: left;width: 190px;}
.footer-column2{display: inline;float: left;left: 205px;width: 175px;}
.footer-column3{border: 1px solid red;display: inline;float: left;left: 410px;width: 200px;}
.footer-column2{display: inline;float: right;padding-right: 10px;}
.social-icons{display: block;float: left;margin-right: 0;}
.footer-links p{color: #000000;font-family: Arial,sans-serif;font-size: 12px;font-weight: bold;margin: 0 0 5px 15px;text-align: left;}
.footer-links ul{color: #676767;font-size: 12px;font-weight: bold;line-height: 20px;list-style-type: none;margin-left: 3px;}
.footer-links li a{color: #000000;font-size: 11px;font-weight: normal;text-decoration: underline;}
.footer-links li a:visited{text-decoration: underline;}
.footer-links li a:hover{color: #FFFFFF;text-decoration: none;}
.footer-links li a:active{text-decoration: underline;}
.footer-links2{float: left;height: 100px;margin-top: 10px;padding: 15px 10px 0 0;text-align: left;width: 350px;}
.footer-links2 p{color: #000000;font-family: Arial,sans-serif;font-size: 12px;font-weight: bold;margin: 0 0 5px 25px;text-align: left;}
.footer-links2 ul{color: #676767;font-size: 12px;font-weight: bold;line-height: 20px;list-style-type: none;margin-left: 15px;}
.footer-links2 li a{color: #000000;font-size: 11px;font-weight: normal;text-decoration: underline;}
.footer-links2 li a:visited{text-decoration: underline;}
.footer-links2 li a:hover{color: #FFFFFF;text-decoration: none;}
.footer-links2 li a:active{text-decoration: underline;}
.footer-links-Social{float: left;height: 100px;margin-top: 10px;padding: 15px 0 0;text-align: left;width: 160px;}
.footer-links-Social p{color: #000000;font-family: Arial,sans-serif;font-size: 12px;font-weight: bold;margin: 0 0 5px 10px;}
.footer-links-Social li{display: inline;float: left;margin: 0;padding: 0;}
.footer-links li a:hover{text-decoration: underline;}
.footer-links li a:active{text-decoration: none;}
.footer-links.no-border{border-right: 0 none;}
.footer-links.no-left-padding{padding-left: 0;}
#copyright{color: #000000;font-family: Arial,sans-serif;font-size: 11px;font-weight: normal;line-height: 18px;text-align: center !important;}
#footer-shadow-right{float: right;height: 170px;width: 13px;}
.first{float:left;width:29%;margin-right:2%;}
.first .rn_Text{width:100% !important;}
.second{float:left;width:29%;}
.second .rn_Text{width:100% !important;}
.line{float:left;clear:both;width:100%;}
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel{position:relative;}
.yui-panel-container form{margin:0;}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0;}
.mask.block-scrollbars{overflow:auto;}
.masked select,.drag select,.hide-select select{_visibility:hidden;}
.yui-panel-container select{_visibility:inherit;}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.show-scrollbars{overflow:auto;}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto;}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none;}
.yui-tt-shadow{position:absolute;}
.yui-override-padding{padding:0!important;}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px;}
.yui-skin-sam .mask{background-color:#000;opacity:.25;filter:alpha(opacity=25);}
.yui-skin-sam .yui-panel-container{padding:0 1px;*padding:2px;}
.yui-skin-sam .yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;*border-width:1px;*zoom:1;_zoom:normal;}
.yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{border-style:solid;border-width:0 1px;border-color:#808080;margin:0 -1px;*margin:0;*border:0;}
.yui-skin-sam .yui-panel .hd{border-bottom:solid 1px #ccc;}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{background-color:#F2F2F2;}
.yui-skin-sam .yui-panel .hd{padding:0 10px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000;background:url(/rnt/rnw/yui_2.7/assets/skins/sam/sprite.png) repeat-x 0 -200px;}
.yui-skin-sam .yui-panel .bd{padding:10px;}
.yui-skin-sam .yui-panel .ft{border-top:solid 1px #808080;padding:5px 10px;font-size:77%;}
.yui-skin-sam .container-close{position:absolute;top:5px;right:6px;width:25px;height:15px;background:url(/rnt/rnw/yui_2.7/assets/skins/sam/sprite.png) no-repeat 0 -300px;cursor:pointer;}
.yui-skin-sam .yui-panel-container .underlay{right:-1px;left:-1px;}
.yui-skin-sam .yui-panel-container.matte{padding:9px 10px;background-color:#fff;}
.yui-skin-sam .yui-panel-container.shadow{_padding:2px 4px 0 2px;}
.yui-skin-sam .yui-panel-container.shadow .underlay{position:absolute;top:2px;left:-3px;right:-3px;bottom:-3px;*top:4px;*left:-1px;*right:-1px;*bottom:-1px;_top:0;_left:0;_right:0;_bottom:0;_margin-top:3px;_margin-left:-1px;background-color:#000;opacity:.12;filter:alpha(opacity=12);}
.yui-skin-sam .yui-dialog .ft{border-top:none;padding:0 10px 10px 10px;font-size:100%;}
.yui-skin-sam .yui-dialog .ft .button-group{display:block;text-align:right;}
.yui-skin-sam .yui-dialog .ft button.default{font-weight:bold;}
.yui-skin-sam .yui-dialog .ft span.default{border-color:#304369;background-position:0 -1400px;}
.yui-skin-sam .yui-dialog .ft span.default .first-child{border-color:#304369;}
.yui-skin-sam .yui-dialog .ft span.default button{color:#fff;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled{background-position:0 -1500px;border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6;}
.yui-skin-sam .yui-simple-dialog .bd .yui-icon{background:url(/rnt/rnw/yui_2.7/assets/skins/sam/sprite.png) no-repeat 0 0;width:16px;height:16px;margin-right:10px;float:left;}
.yui-skin-sam .yui-simple-dialog .bd span.blckicon{background-position:0 -1100px;}
.yui-skin-sam .yui-simple-dialog .bd span.alrticon{background-position:0 -1050px;}
.yui-skin-sam .yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px;}
.yui-skin-sam .yui-simple-dialog .bd span.infoicon{background-position:0 -1200px;}
.yui-skin-sam .yui-simple-dialog .bd span.warnicon{background-position:0 -1900px;}
.yui-skin-sam .yui-simple-dialog .bd span.tipicon{background-position:0 -1250px;}
.yui-skin-sam .yui-tt .bd{position:relative;top:0;left:0;z-index:1;color:#000;padding:2px 5px;border-color:#D4C237 #A6982B #A6982B #A6982B;border-width:1px;border-style:solid;background-color:#FFEE69;}
.yui-skin-sam .yui-tt.show-scrollbars .bd{overflow:auto;}
.yui-skin-sam .yui-tt-shadow{top:2px;right:-3px;left:-3px;bottom:-3px;background-color:#000;}
.yui-skin-sam .yui-tt-shadow-visible{opacity:.12;filter:alpha(opacity=12);}